@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #000;
}

#app {
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

header {
  margin: 3rem 0;
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
}

header a {
  color: #4f4f4f;
  text-decoration: none;
  display: flex;
}

header a:hover span {
  text-decoration: underline;
}

header svg {
  width: 2.2rem;
  fill: #4f4f4f;
  margin-left: 0.8rem;
}

header svg.loading {
  animation: loading 1s linear infinite;
}

footer {
  color: #828282;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 6rem;
  padding: 2rem 0;
  border-top: 1px solid #ccc;
}

main {
  margin: auto;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 2rem 0 14rem 10.8rem;
  color: #333;
}

figure + figure {
  margin-top: 14rem;
}

blockquote {
  border-left: 0.8rem solid #f7df94;
  padding: 1rem 1rem 1rem 10rem;
  max-width: 70.8rem;
  font-size: 3.6rem;
}

figcaption {
  margin: 10rem 0 0 7.8rem;
  max-width: 60rem;
}

figcaption a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 4rem 5rem 3rem;
  text-decoration: none;
  transition: all 250ms;
}

figcaption span {
  display: block;
  color: #4f4f4f;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  transition: all 250ms;
}

figcaption small {
  color: #828282;
  font-size: 1.4rem;
}

figcaption svg {
  width: 2.6rem;
  fill: #fff;
}

figcaption a:hover {
  background: #333;
}

figcaption a:hover span {
  color: #f2f2f2;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(-750px);
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 800ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 400ms;
}

.error {
  color: #fff;
  background: red;
  padding: 2rem;
  text-align: center;
  margin: auto 0;
  font-size: 1.8rem;
}
